/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: linear-gradient(to right, #f857a6, #ff5858);
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.title {
    margin: auto;
    width: 80%;
}

.title h1 {
    text-decoration: underline;
}

.button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    color: #ff69b4; 
    margin: 0.5em;
    border: 1px solid #ff69b4;
}

.button:hover {
    color: #ff1493;
    border: 1px solid #ff1493;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}

.button:active {
        color: #eee;
        background-color: #ff1493;
}

.task-list {
    background-color: #eee;
    margin: 0.2em 0.5em;
    padding: 20px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.task {
    background-color: #eee;
    padding: 0.2em 1em;
    border-top: 1px solid #bbb;
    display: grid;
    grid-template-columns: 2fr 20fr 2fr 1fr;
}

.task-complete-hide {
    display: none;
}

.task-text {
    line-height: 1em;
    margin: auto 0;
}

.task-text-edit {
    display: none;
}


.task-btn-right {
    display:table-cell;
    align-self: right;
}

.task-text-complete {
    text-decoration: line-through;
}

.btn-sm {
    font-size: small;
}


.task-btn-todo:active {
    color: #eee;
    background-color: #ff1493;
}

.task-btn-complete {
    color: green;
    border-color:  green;
}

.task-btn-complete:hover {
    color: darkgreen;
    border-color: darkgreen;
}

.task-btn-complete:active {
    color: #eee;
    background-color: darkgreen;
}

.task-add-container {
    border-top: 1px solid #bbb;
    padding: 0.5em;
}
.task-input {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: block;
    border: 1px solid #bbb;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.task-add-input {
    font-size: large;
}

.task-input-edit {
    display: none;
}


.task-add-button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
    display: block;
}

.filter-container {
    padding: 0.5em;
    margin: auto;
    width: 100%;
    border-top: 1px solid #bbb;
    box-sizing: border-box;
}

.cheers-hide {
    display: none;
}

.cheers-show {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #bbb;
}